<!-- Image and text -->
<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      ENES100 Room Count
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="hardwareConnectionError" class="alert alert-danger" role="alert">
        {{hardwareConnectionError}}
      </div>
      <div *ngIf="peopleCountError" class="alert alert-danger" role="alert">
        {{peopleCountError}}
      </div>
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between">Room 1 <span
              *ngIf="isHardwareConnected | async; else notConnected" class="badge bg-success">Connected</span></h5>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">API Key</span>
            <input [(ngModel)]="apiKey" type="text" class="form-control" placeholder="yrQCRzHx7vDSvo7ygZCCax1ZeZ07b4pV"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <p class="card-text">Current Count: {{peopleCount | async}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notConnected>
  <span class="badge bg-danger ml-auto">Not Connected</span>
</ng-template>